.background {
  background-image: url('/src/assets/vinyl.png');
  background-size: cover;
  background-position: center;
  height: 91.2vh;
}

.shape {
  background-color: black;
  position: absolute;
  width: 935px;
  height: 671.5px; /* 737 */
  padding-left: 60px;
  padding-top: 100px;
  font-size: 3rem;
}

.text {
  color: white;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 100px;
}

span {
  background: linear-gradient(90deg, #ff60f2, #720ea1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  width: 450px;
  height: 60px;
  border: none;
  background-color: aliceblue;
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 20px;
  margin-top: 120px;
  margin-left: 180px;
  color:rgb(27, 27, 27);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(215, 220, 223);
}