.background {
  background-image: url('/src/assets/vinyl.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.shape {
  background-color: black;
  position: absolute;
  width: 935px;
  height: 737px;
  padding-left: 60px;
  padding-top: 100px;
  font-size: 3rem;
}

.text {
  color: white;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

span {
  background: linear-gradient(90deg, #ff60f2, #720ea1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  width: 350px;
  height: 60px;
  border: none;
  background-color: aliceblue;
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 20px;
  margin-top: 200px;
  margin-left: 220px;
  color:rgb(27, 27, 27)
}

.btn:hover {
  background-color: rgb(215, 220, 223);
}